extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Elizabeth Hinson

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Life-long learner. I will forever absorb information to enrich my mind. I'm excited about developing. I am inspired to explore in this new career of developing. 
            | Encourager. I love working with others and encouraging them to be their bet and give their all. I get excited to see others advance. I find pleasure in other people's endeavors.
            | Junior Developer. Still in the learning stages, but inspired. Excited to be creative and employable. Looking forward to a better future and teach my offspring.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express, Pug, HTML, CSS, JavaScript, JSON, JQuery, Nodes.js, Nodemon, npm, Object-Oriented JavaScript, API
          li Using my artistic abilities to create projects.
          li Analysis, Teamwork, Problem Solving
          li Software Testing, Software Documentation, Software Design, Software Debugging, Software Requirements
          li Software Development Fundamentals, Software Development Process
          li General Programming, Attention to Detail
        h6 

        //- Add your own contact info
        ul
          li 972-689-5586
          li elizabeth.hinson12@yahoo.com
          li PO Box 1744, Arlington, TX 76004

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/elizabeth-hinson-36b26b4a/') LinkedIn
        a.button.expanded(href='https://github.com/ehinson69') GitHub
    nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  